.dot {
  height: 100px;
  width: 100px;
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  display: block;
}

.center-div
{
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100px;
   height: 100px;
}

.inner-div
{
     margin: 0 auto;
     width: 100px;
}

.inner-div
{
     margin: 0 auto;
     width: 100px;
}

.mb-1 {
  margin-bottom: 1rem;
}
